 /* #202124 */
 /* #3c4043 */

.RoomPage {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background: #202124;
	color: white;
}

.RP-InformationMessage {
	position: absolute;
	width: 100%;
	text-align: center;
}

.RP-VideoContainer {
	margin: 2% 5%;
	flex: 1;

	display: grid;
	gap: 1%;
}

.RP-VC-Peer {
	position: relative;
	box-sizing: border-box;
	background: #3c4043;
	border-radius: 10px;
	justify-self: center;
	align-self: center;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.RP-VC-P-Video {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.RP-VC-P-Name {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	color: coral;
}

/* .RP-VC-P-Img {
} */

.RP-ToolsBox {
	display: flex;
	flex-direction: row;
	bottom: 0;
	width: 100%;
	height: 50px;
}