/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   peerVideoCSS.css                                   :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: hcabel <hcabel@student.42.fr>              +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2021/12/05 17:25:18 by hcabel            #+#    #+#             */
/*   Updated: 2021/12/05 17:25:20 by hcabel           ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

.RL-VC-Peer {
	position: relative;
	box-sizing: border-box;
	background: #3c4043;
	border-radius: 10px;
	justify-self: center;
	align-self: center;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.RL-VC-P-Video {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: rotateY(180deg);
}

.RL-VC-P-Name {
	position: absolute;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 2.5vh;
	color: coral;
}

.RL-VC-P-AudioStatus {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgba(32,33,36,0.302);
	border-radius: 50%;
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 5px;
	padding: 5px;
}

.RL-VC-P-AudioStatus > svg {
	height: 18px;
	width: 18px;
	fill: white;
}
