/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   roomLayerCSS.css                                   :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: hcabel <hcabel@student.42.fr>              +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2021/11/19 22:50:33 by hcabel            #+#    #+#             */
/*   Updated: 2021/12/05 17:25:45 by hcabel           ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

html, body, boby > div {
	/* background: #202124; */
}

.RoomLayer {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background: #202124;
	color: white;
}

.RL-VideoContainer {
	margin: 2% 5%;
	flex: 1;

	display: grid;
	gap: 1%;
}

.RL-ToolsBox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	bottom: 0;
	width: 100%;
	height: 50px;
	padding-bottom: 20px;
	align-items: center;
}

.RL-TB-Left {
	flex: 1;
}

.RL-TB-L-RoomId {
	padding-left: 25px;
}

.RL-TB-Center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex: 1;
}

.RL-TB-C-Button-On {
	display: flex;
	justify-content: center;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	background: #3c4043;
	margin: 0 5px;
}

.RL-TB-C-Button-On:hover {
	background: #5f6368;
}

.RL-TB-C-Button-Off {
	display: flex;
	justify-content: center;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	background: #ea4335;
	margin: 0 5px;
}

.svg-icon {
	align-self: center;
	fill: white;
}

/* .Center-Button-MicroStatus {

} */

.Center-Button-LeaveRoom {
	width: 70px;
	border-radius: 25px;
}

.RL-TB-C-B-CBL-Img {
	width: 24px;
	height: 24px;
	margin: auto;
}

.RL-TB-Right {
	flex: 1;
}