/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   preRoomLayerCSS.css                                :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: hcabel <hcabel@student.42.fr>              +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2021/11/19 22:49:30 by hcabel            #+#    #+#             */
/*   Updated: 2021/11/20 23:42:27 by hcabel           ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

.PreRoomPage {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	margin: 0;
}

.PRP-Body {
	box-flex: 1;
	flex-grow: 1;
	overflow: auto;
}

.PRP-Body,
.PRP-B-Content {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

@media (max-width: 943px) {
	.PRP-Body,
	.PRP-B-Content {
		display: -webkit-inline-box;
		display: inline-flex;
		flex-direction: column;
	}
}

.PRP-B-C-Stream {
	display: -webkit-inline-box;
	display: inline-flex;
	flex-direction: column;
	box-flex: 1;
	flex-grow: 1;
	max-width: calc(740px + 24px);
}

.PRP-B-C-S-VideoShadow {
	border-radius: 8px;
	box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%), 0px 1px 3px 1px rgb(60 64 67 / 15%);
	flex: 0 1;
	margin: 16px 8px 16px 16px;
	min-width: 448px;
	overflow: hidden;
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-width: 943px) {
	.PRP-B-C-S-VideoShadow {
		flex: 0 1;
		margin: 16px;
	}
}

.PRP-B-C-S-VS-Video {
	width: 100%;
	height: 100%;
	position: relative;
}

.PRP-B-C-S-VS-V-Inside {
	display: block;

	height: 100%;
	overflow: hidden;
	position: relative;

	background-color: #202124;
	box-sizing: border-box;
	padding-top: 56.25%;
	width: 100%;
}

.PRP-B-C-S-VS-V-I-StreamsVideo {
	position: absolute;
	background: black;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}

.PRP-B-C-S-VS-V-I-SV-Video {
	height: calc(100% + 2px);
	left: -1px;
	pointer-events: none;
	position: absolute;
	top: -1px;
	width: calc(100% + 2px);
	object-fit: cover;
	transform: scaleX(-1);
}

.PRP-B-C-S-VS-V-Buttons {
	bottom: 16px;
	display: flex;
	left: 50%;
	margin-left: -80px;
	position: absolute;
}

.PRP-B-C-S-VS-V-B-AudioButtonOn {
	margin: 0 12px;
	align-items: center;
	box-sizing: border-box;
	border-radius: 50%;
	display: flex;
	height: 72px;
	justify-content: center;
	transition: all .25s linear;
	width: 72px;

	background-color: transparent;
	height: 56px;
	width: 56px;
	z-index: 1;

	border: 1px solid #fff;
	color: #fff;
}

.PRP-B-C-S-VS-V-B-AudioButtonOff {
	margin: 0 12px;
	align-items: center;
	border-radius: 50%;
	box-sizing: border-box;
	display: flex;
	height: 72px;
	justify-content: center;
	transition: all .25s linear;
	width: 72px;

	background-color: transparent;
	height: 56px;
	width: 56px;
	z-index: 1;

	border: 1px solid #fff;
	color: #fff;

	background-color: #d93025;
	border: 1px solid #d93025;
}

.PRP-B-C-S-VS-V-B-VideoButtonOn {
	margin: 0 12px;
	align-items: center;
	border-radius: 50%;
	box-sizing: border-box;
	display: flex;
	height: 72px;
	justify-content: center;
	transition: all .25s linear;
	width: 72px;

	background-color: transparent;
	height: 56px;
	width: 56px;
	z-index: 1;

	border: 1px solid #fff;
	color: #fff;
}

.PRP-B-C-S-VS-V-B-VideoButtonOff {
	margin: 0 12px;
	align-items: center;
	border-radius: 50%;
	box-sizing: border-box;
	display: flex;
	height: 72px;
	justify-content: center;
	transition: all .25s linear;
	width: 72px;

	background-color: transparent;
	height: 56px;
	width: 56px;
	z-index: 1;

	border: 1px solid #fff;
	color: #fff;

	background-color: #d93025;
	border: 1px solid #d93025;
}

.PRP-B-C-S-VS-V-B-AudioButtonOn > svg,
.PRP-B-C-S-VS-V-B-AudioButtonOff > svg,
.PRP-B-C-S-VS-V-B-VideoButtonOn > svg,
.PRP-B-C-S-VS-V-B-VideoButtonOff > svg {
	fill: white;
}

.PRP-B-C-S-VS-V-B-AudioButtonOn:hover,
.PRP-B-C-S-VS-V-B-VideoButtonOn:hover {
	background-color: rgba(255,255,255,0.4);
}

.PRP-B-C-C-LoadingAnimation {
	margin-top: 25px;
	display: inline-block;
	position: relative;
	width: 100px;
	height: 100px;
}

.PRP-B-C-C-LoadingAnimation div {
	box-sizing: border-box;
	position: absolute;
	display: block;
	width: 100px;
	height: 100px;
	border: 10px solid #1a73e8;
	border-radius: 50%;
	animation: PRP-B-C-C-LoadingAnimation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #1a73e8 transparent transparent transparent;
}

.PRP-B-C-C-LoadingAnimation div:nth-child(1) {
	animation-delay: -0.45s;
}

.PRP-B-C-C-LoadingAnimation div:nth-child(2) {
	animation-delay: -0.3s;
}

.PRP-B-C-C-LoadingAnimation div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes PRP-B-C-C-LoadingAnimation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.PRP-B-C-Form,
.PRP-B-C-Connecting {
	display: flex;
	flex-direction: column;
	flex: 1;
	flex-grow: 1;
	justify-content: center;
	width: 448px;
	height: 448px;
	align-items: center;
}

.PRP-B-C-Connecting {
}

.PRP-B-C-F-Name {
	border: none;
	border-bottom: 2px solid rgb(50, 50, 50);
	width: 30vw;
	align-self: center;
	padding: 5px;
	margin-top: 30px;
	font-size: 18px;
	color: gray;
	outline: none;
}

@media (max-width: 943px) {
	.PRP-B-C-F-Name {
		width: 50vw;
	}
}
.PRP-B-C-F-Name:focus {
	border-color: #1a73e8;
}

.PRP-B-C-F-Title,
.PRP-B-C-C-Title {
	color: rgba(0,0,0,0.87);

	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	cursor: default;
	text-align: center;
	font-family: 'Google Sans',Roboto,Arial,sans-serif;
	font-size: 1.75rem;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 2.25rem;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.PRP-B-C-F-SubmitButtons {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 16px 0;

	align-items: center;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
}

.PRP-B-C-F-SB-Participate {
	transition: box-shadow 280ms cubic-bezier(0.4,0,0.2,1);
	-webkit-font-smoothing: antialiased;
	-webkit-user-select: none;
	transition: background .2s .1s;
	border: 0;
	border-radius: 4px;
	color: #1a73e8;
	cursor: pointer;
	display: inline-block;
	font-family: "Google Sans",Roboto,Arial,sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: .25px;
	line-height: 36px;
	text-decoration: none;
	text-transform: none;
	min-width: auto;
	outline: none;
	overflow: hidden;
	position: relative;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
	z-index: 0;

	background: #1a73e8;
	color: #fff;

	border-radius: 24px;
	box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%), 0px 1px 3px 1px rgb(60 64 67 / 15%);
	display: flex;
	height: 48px;
	margin: 0 4px 16px 4px;
}

.PRP-B-C-F-SB-P-Value {
	-webkit-box-align: center;
	box-align: center;
	align-items: center;
	display: flex;
	position: relative;

	padding: 0 24px;
	font-weight: bold;
}